//
//  Configuration.xcconfig
//  Thelp
//
//  Created by Tom Hartnett on 4/20/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DEVELOPMENT_TEAM = YOUR_TEAM_ID // Replace with your Team ID from Apple Developer Portal
MACOSX_DEPLOYMENT_TARGET = 15.0
PRODUCT_BUNDLE_IDENTIFIER = com.example.Thelp // Update with your desired bundle ID
